<a href="https://colab.research.google.com/github/zurannii/API-Java-usando-Maven/blob/main/C%C3%B3pia_de_Aula_09_Pandas_EXERCICIOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# Aula 09_ PANDAS_ Seleção e Organização de Dados _EXERCICIOS

---

# Exercícios

Nos exercícios a seguir emprege a base de dados `titanic`.

Todos exercícios possuem várias soluções possíveis, mas não se preocupe com isso. A melhor solução é primeiro, a que funciona para você!

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from random import choices

titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

1. Qual a quantidade de linhas e colunas de `titanic`?

In [ ]:
# Obtém a forma do DataFrame titanic, que é uma tupla contendo o número de linhas e colunas
shape = titanic.shape

# Imprime o número de linhas e colunas do DataFrame
print('O número de linhas e colunas é: ', shape)

2. Qual a idade do passageiro mais velho?

In [ ]:


# Encontra a idade máxima no DataFrame titanic, ou seja, a idade do passageiro mais velho
passageiro_mais_velho = titanic['age'].max()

# Imprime a idade do passageiro mais velho
print('O passageiro mais velho tem ', passageiro_mais_velho, 'anos!')

3. Qual a idade da sobrevivente feminina mais velha?

In [ ]:


# Filtra o DataFrame titanic para incluir apenas as mulheres ('sex' == 'female') e seleciona a coluna 'survived'
feminina = titanic[titanic['sex'] == 'female']['survived']

# Filtra o DataFrame titanic para incluir apenas as mulheres sobreviventes ('sex' == 'female' e 'survived' == 1) e encontra a idade máxima dessas mulheres
sobreviveu = titanic[(titanic['sex'] == 'female') & (titanic['survived'] == 1)]['age'].max()

# Imprime a idade da mulher mais velha que sobreviveu
print('A mais velha mulher que sobreviveu tem ', sobreviveu, 'anos!')

4. Qual o percentual de sobreviventes da primeira e terceira classes?

In [ ]:


# Soma o número total de sobreviventes no DataFrame 'titanic'
passageirosSobreviventes = titanic['survived'].sum()

# Conta o nmero de sobreviventes na primeira classe
sobreviventes_1_classe = titanic[(titanic['class'] == 'First') & (titanic['survived'] == 1)]['survived'].count()

# Conta o número de sobreviventes na terceira classe
sobreviventes_3_classe = titanic[(titanic['class'] == 'Third') & (titanic['survived'] == 1)]['survived'].count()

# Calcula a porcentagem de sobreviventes da primeira classe em relaçao ao total de sobreviventes
porcentagem_1 = (sobreviventes_1_classe / passageirosSobreviventes) * 100

# Calcula a porcentagem de sobreviventes da terceira classe em relaçao ao total de sobreviventes
porcentagem_3 = (sobreviventes_3_classe / passageirosSobreviventes) * 100

# Imprime o percentual de sobreviventes da primeira classe, formatado para duas casas decimais
print(f'Qual é o percentual de sobreviventes da primeira classe?', "{:.2f}%".format(porcentagem_1))

# Imprime o percentual de sobreviventes da terceira classe, formatado para duas casas decimais
print(f'E o percentual de sobreviventes da terceira classe?', "{:.2f}%".format(porcentagem_3))

6. utilize ao menos 5 funções diferentes da Biblioteca Pandas

(iloc, loc, groupby..etc ) exlique cada uma delas e seu resultado

In [ ]:

import pandas as pd

# Se o DataFrame 'titanic' já esta carregado, podemos-se carregar um conjunto de dados do Titanic com o seguinte código:
# titanic = pd.read_csv('titanic.csv')

# iloc seleciona dados por posição e seleciona a primeira linha e a primeira coluna
primeiro_elemento = titanic.iloc[0, 0]
print('Primeiro elemento:', primeiro_elemento)

# Seleciona as primeiras 5 linhas e todas as colunas
primeiras_5_linhas = titanic.iloc[:5, :]
print('Primeiras 5 linhas:\n', primeiras_5_linhas)

# loc seleciona dados por rótulo seleciona todas as colunas da linha com o índice 0
linha_0 = titanic.loc[0, :]
print('Linha 0:\n', linha_0)

# Seleciona as colunas 'age' e 'sex' para as linhas com índice de 0 a 4
age_sex_0_4 = titanic.loc[0:4, ['age', 'sex']]
print('Age e Sex para as linhas de 0 a 4:\n', age_sex_0_4)

# groupby agrupa dados e aplica uma função agregada e agrupa por 'class' e calcula a média das idades
media_por_classe = titanic.groupby('class')['age'].mean()
print('Média de idade por classe:\n', media_por_classe)

# Agrupa por 'class' e 'sex' e calcula a média das idades
media_classe_sexo = titanic.groupby(['class', 'sex'])['age'].mean()
print('Média de idade por classe e sexo:\n', media_classe_sexo)

# describe fornece estatísticas descritivas para as colunas numéricas
estatisticas_descritivas = titanic.describe()
print('Estatísticas descritivas:\n', estatisticas_descritivas)

# isnull e sum Identifica e conta valores ausentes e identifica valores ausentes em cada coluna e conta o número de valores ausentes
valores_ausentes = titanic.isnull().sum()
print('Número de valores ausentes por coluna:\n', valores_ausentes)

7. crie um dataframe com as seguintees colunas

nome, idade, data, cpf, forma de pagamento, veiculo

e preencha 20 linhas.

Após p dataframe tenha sido criado apresente as principais informações relacionadas

In [ ]:


import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# dados fictícios para preencher o DataFrame
nomes = ['João', 'Maria', 'José', 'Ana', 'Carlos', 'Beatriz', 'Paulo', 'Carla', 'Pedro', 'Fernanda',
         'Rafael', 'Gabriela', 'Ricardo', 'Mariana', 'Lucas', 'Juliana', 'Gustavo', 'Patrícia', 'Bruno', 'Luísa']
idades = np.random.randint(18, 70, size=20)  # Gera 20 (deveria ser 5) idades aleatórias entre 18 e 70 anos
datas = [datetime(2020, 1, 1) + timedelta(days=np.random.randint(0, 365*3)) for _ in range(20)]  # Gera 20 datas aleatórias nos últimos 3 anos
cpfs = [f'{np.random.randint(100, 999)}.{np.random.randint(100, 999)}.{np.random.randint(100, 999)}-{np.random.randint(10, 99)}' for _ in range(20)]  # Gera 20 CPFs aleatórios
formas_pagamento = ['Dinheiro', 'Cartão de Crédito', 'Cartão de Débito', 'Boleto', 'Transferência']
pagamentos = np.random.choice(formas_pagamento, size=20)  # Escolhe aleatoriamente 20 formas de pagamento
veiculos = ['Carro', 'Moto', 'Bicicleta', 'Patinete', 'Ônibus']
veiculos_utilizados = np.random.choice(veiculos, size=20)  # Escolhe aleatoriamente 20 veículos utilizados

# Criando o DataFrame com os dados gerados
df = pd.DataFrame({
    'nome': nomes,
    'idade': idades,
    'data': datas,
    'cpf': cpfs,
    'forma de pagamento': pagamentos,
    'veiculo': veiculos_utilizados
})

# Exibindo o DataFrame criado
print("DataFrame criado:")
print(df)

# Exibindo as primeiras linhas do DataFrame
print("\nPrimeiras 5 linhas do DataFrame:")
print(df.head())

# Exibindo as últimas linhas do DataFrame
print("\nÚltimas 5 linhas do DataFrame:")
print(df.tail())

# Exibindo informações gerais sobre o DataFrame
print("\nInformações gerais sobre o DataFrame:")
print(df.info())

# Exibindo estatísticas descritivas para colunas numéricas
print("\nEstatísticas descritivas para colunas numéricas:")
print(df.describe())

# Exibindo a contagem de valores únicos por coluna
print("\nContagem de valores únicos por coluna:")
print(df.nunique())

# Exibindo a distribuição das formas de pagamento
print("\nDistribuição das formas de pagamento:")
print(df['forma de pagamento'].value_counts())

# Exibindo a distribuição dos veículos utilizados
print("\nDistribuição dos veículos utilizados:")
print(df['veiculo'].value_counts())